#macro( showTime $value)
	$!dateUtil.getNewFormatDateString($value)
#end
#macro( fieldMessage $controlId $message)
	#if($stringUtil.isNotBlank($message))
	<script type="text/javascript">
	$('$controlId').addClass("error");
	</script>
	<span class="help-inline">$message</span>
	#end
#end
## 可替换properties文件中占位符的springMessageText版本
#macro( springMessageTextWithPH $code, $args, $defaultValue)
    $springMacroRequestContext.getMessage($code, $args.toArray(), $defaultValue, false)
#end